* {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: -21px -2px 2pc -13px;
}
.logo img {
  height: 50px;
  padding: 25px;
}
.nav a {
  color: black;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 3px;
  /* font-weight: bolder; */
  padding: 10px;
}
.nav {
  display: flex;
}
.searchbox input {
  padding: 10px 10px;
  padding-left: 13px;
  padding-right: 200px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  border: none;
}
.right-nav {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.right-nav img {
  width: 20px;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.wishlist {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.bag {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.container {
  display: flex;
  width: 100%;
}
.contain1 {
  border: 1px solid silver;
  padding: 20px;
}
.h4 {
  margin: 10px;
}
h3 {
  letter-spacing: 2px;
  font-weight: unset;
}
.cat-input input {
  margin: 10px;
}
.brands-input input {
  margin: 8px;
}
.line1 {
  font-size: 15px;
  padding: 5px;
}
.contain2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding: 30px;
  margin-top: 10px;
}
.line3 {
  display: flex;
  align-items: center;
}
#card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}
#card1:hover {
  border: 1px solid silver;
  border-radius: 5px;
}

.grey {
  color: grey;
  margin: 5px;
}
.price p {
  margin-left: 10px;
  text-decoration: line-through;
}
.red {
  color: #ff905a;
}
.img img {
  height: 300px;
  border-radius: 5px;
}
@media only screen and (max-width: 440px) {
  .contain2 {
    grid-template-columns: auto;
  }
}
